In [3]:
#mounting of google drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
import pandas as pd
import numpy as np

#loading csv
df = pd.read_csv('/content/drive/MyDrive/Colab/Jobs_NYC_Postings.csv')

In [5]:
df.head() #reading first five records

,Job ID,Agency,Posting Type,# Of Positions,Business Title,Civil Service Title,Title Classification,Title Code No,Level,Job Category,...,Additional Information,To Apply,Hours/Shift,Work Location 1,Recruitment Contact,Residency Requirement,Posting Date,Post Until,Posting Updated,Process Date
0,693126,DEPT OF ENVIRONMENT PROTECTION,Internal,1,Admin. Engineer M-II - Deputy Chief of Water &...,ADMINISTRATIVE ENGINEER,Competitive-1,10015,M2,"Engineering, Architecture, & Planning",...,NaN,NaN,NaN,NaN,NaN,New York City Residency is not required for th...,12/23/2024,NaN,12/23/2024,10/14/2025
1,711591,DEPT OF ENVIRONMENT PROTECTION,External,1,ACCOUNTABLE MANAGER,ADMINISTRATIVE PROJECT MANAGER,Competitive-1,8300B,00,"Engineering, Architecture, & Planning Public S...",...,NaN,NaN,NaN,NaN,NaN,New York City Residency is not required for th...,04/25/2025,NaN,04/25/2025,10/14/2025
2,723667,DEPT OF ENVIRONMENT PROTECTION,Internal,2,ACCOUNTABLE MANAGER,ADM ENGINEER (NON MGRL),Competitive-1,1001A,00,"Engineering, Architecture, & Planning Public S...",...,NaN,NaN,NaN,NaN,NaN,New York City Residency is not required for th...,08/28/2025,NaN,08/28/2025,10/14/2025
3,690738,DEPT OF ENVIRONMENT PROTECTION,Internal,1,Deputy Section Chief,ADMINISTRATIVE STAFF ANALYST (,Competitive-1,1002A,00,"Finance, Accounting, & Procurement",...,Appointments are subject to OMB approval. For...,Click Apply Now button.,35 hours per week,"96-05 Horace Harding Expressway, 2nd floor Cor...",NaN,New York City residency is generally required ...,11/27/2024,NaN,01/07/2025,10/14/2025
4,748603,DEPARTMENT OF TRANSPORTATION,Internal,1,BOROUGH PLANNER,TRANSPORTATION SPECIALIST,Competitive-1,22316,01,"Engineering, Architecture, & Planning",...,NaN,All resumes to be submitted electronically usi...,Monday-Friday 9AM-5PM,55 Water St Ny Ny,NaN,New York City residency is generally required ...,10/08/2025,21-OCT-2025,10/08/2025,10/14/2025

In [6]:
df.info() #checking dataframe info - columns and its types

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5311 entries, 0 to 5310
Data columns (total 30 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Job ID                         5311 non-null   int64
 1   Agency                         5311 non-null   object
 2   Posting Type                   5311 non-null   object
 3   # Of Positions                 5311 non-null   int64
 4   Business Title                 5311 non-null   object
 5   Civil Service Title            5311 non-null   object
 6   Title Classification           5311 non-null   object
 7   Title Code No                  5311 non-null   object
 8   Level                          5311 non-null   object
 9   Job Category                   5311 non-null   object
 10  Full-Time/Part-Time indicator  5311 non-null   object
 11  Career Level                   5311 non-null   object
 12  Salary Range From              5311 non-null   float64
 13  Salary Range To                5311 non-null   float64
 14  Salary Frequency               5311 non-null   object
 15  Work Location                  5311 non-null   object
 16  Division/Work Unit             5311 non-null   object
 17  Job Description                5311 non-null   object
 18  Minimum Qual Requirements      5250 non-null   object
 19  Preferred Skills               2825 non-null   object
 20  Additional Information         1789 non-null   object
 21  To Apply                       2380 non-null   object
 22  Hours/Shift                    969 non-null    object
 23  Work Location 1                1182 non-null   object
 24  Recruitment Contact            0 non-null      float64
 25  Residency Requirement          5309 non-null   object
 26  Posting Date                   5311 non-null   object
 27  Post Until                     2056 non-null   object
 28  Posting Updated                5311 non-null   object
 29  Process Date                   5311 non-null   object
dtypes: float64(3), int64(2), object(25)
memory usage: 1.2+ MB

In [7]:
df.shape #row and column count

(5311, 30)

In [8]:
df.isnull().sum() #Counting missing values

Job ID                              0
Agency                              0
Posting Type                        0
# Of Positions                      0
Business Title                      0
Civil Service Title                 0
Title Classification                0
Title Code No                       0
Level                               0
Job Category                        0
Full-Time/Part-Time indicator       0
Career Level                        0
Salary Range From                   0
Salary Range To                     0
Salary Frequency                    0
Work Location                       0
Division/Work Unit                  0
Job Description                     0
Minimum Qual Requirements          61
Preferred Skills                 2486
Additional Information           3522
To Apply                         2931
Hours/Shift                      4342
Work Location 1                  4129
Recruitment Contact              5311
Residency Requirement               2
Posting Date                        0
Post Until                       3255
Posting Updated                     0
Process Date                        0
dtype: int64

In [9]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Job ID,5311.0,706248.934476,35135.949143,520114.0,698976.0,714342.0,725033.0,750982.0
# Of Positions,5311.0,2.118433,13.054085,1.0,1.0,1.0,1.0,600.0
Salary Range From,5311.0,68709.953026,30198.896582,0.0,57866.0,66330.0,83743.0,231600.0
Salary Range To,5311.0,93748.728962,47302.704022,17.0,68709.0,90000.0,117605.5,293038.0
Recruitment Contact,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5311 entries, 0 to 5310
Data columns (total 30 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Job ID                         5311 non-null   int64
 1   Agency                         5311 non-null   object
 2   Posting Type                   5311 non-null   object
 3   # Of Positions                 5311 non-null   int64
 4   Business Title                 5311 non-null   object
 5   Civil Service Title            5311 non-null   object
 6   Title Classification           5311 non-null   object
 7   Title Code No                  5311 non-null   object
 8   Level                          5311 non-null   object
 9   Job Category                   5311 non-null   object
 10  Full-Time/Part-Time indicator  5311 non-null   object
 11  Career Level                   5311 non-null   object
 12  Salary Range From              5311 non-null   float64
 13  Salary Range To                5311 non-null   float64
 14  Salary Frequency               5311 non-null   object
 15  Work Location                  5311 non-null   object
 16  Division/Work Unit             5311 non-null   object
 17  Job Description                5311 non-null   object
 18  Minimum Qual Requirements      5250 non-null   object
 19  Preferred Skills               2825 non-null   object
 20  Additional Information         1789 non-null   object
 21  To Apply                       2380 non-null   object
 22  Hours/Shift                    969 non-null    object
 23  Work Location 1                1182 non-null   object
 24  Recruitment Contact            0 non-null      float64
 25  Residency Requirement          5309 non-null   object
 26  Posting Date                   5311 non-null   object
 27  Post Until                     2056 non-null   object
 28  Posting Updated                5311 non-null   object
 29  Process Date                   5311 non-null   object
dtypes: float64(3), int64(2), object(25)
memory usage: 1.2+ MB

In [11]:
#conversion of date columns
df['Posting Date'] =pd.to_datetime(df['Posting Date'],errors='coerce')
df['Post Until'] =pd.to_datetime(df['Post Until'],errors='coerce')
df['Posting Updated'] =pd.to_datetime(df['Posting Updated'],errors='coerce')
df['Process Date'] =pd.to_datetime(df['Process Date'],errors='coerce')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5311 entries, 0 to 5310
Data columns (total 30 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Job ID                         5311 non-null   int64
 1   Agency                         5311 non-null   object
 2   Posting Type                   5311 non-null   object
 3   # Of Positions                 5311 non-null   int64
 4   Business Title                 5311 non-null   object
 5   Civil Service Title            5311 non-null   object
 6   Title Classification           5311 non-null   object
 7   Title Code No                  5311 non-null   object
 8   Level                          5311 non-null   object
 9   Job Category                   5311 non-null   object
 10  Full-Time/Part-Time indicator  5311 non-null   object
 11  Career Level                   5311 non-null   object
 12  Salary Range From              5311 non-null   float64
 13  Salary Range To                5311 non-null   float64
 14  Salary Frequency               5311 non-null   object
 15  Work Location                  5311 non-null   object
 16  Division/Work Unit             5311 non-null   object
 17  Job Description                5311 non-null   object
 18  Minimum Qual Requirements      5250 non-null   object
 19  Preferred Skills               2825 non-null   object
 20  Additional Information         1789 non-null   object
 21  To Apply                       2380 non-null   object
 22  Hours/Shift                    969 non-null    object
 23  Work Location 1                1182 non-null   object
 24  Recruitment Contact            0 non-null      float64
 25  Residency Requirement          5309 non-null   object
 26  Posting Date                   5311 non-null   datetime64[ns]
 27  Post Until                     2056 non-null   datetime64[ns]
 28  Posting Updated                5311 non-null   datetime64[ns]
 29  Process Date                   5311 non-null   datetime64[ns]
dtypes: datetime64[ns](4), float64(3), int64(2), object(21)
memory usage: 1.2+ MB

/tmp/ipython-input-3109663908.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Post Until'] =pd.to_datetime(df['Post Until'],errors='coerce')

In [12]:
df.duplicated().sum() #checking for duplicate records
duplicate_row=df[df.duplicated()]
print (duplicate_row)

      Job ID                          Agency Posting Type  # Of Positions  \
274   628242    DEPARTMENT OF TRANSPORTATION     Internal               1
1477  679284    DEPARTMENT OF TRANSPORTATION     Internal               2
1501  720487  DEPT OF ENVIRONMENT PROTECTION     Internal               1
1775  717170         NYC POLICE PENSION FUND     Internal               1
2317  688194    DEPARTMENT OF TRANSPORTATION     Internal               1
3002  736302         NYC POLICE PENSION FUND     Internal               1
3147  709987  DEPT OF ENVIRONMENT PROTECTION     Internal               5
3260  723588        DEPARTMENT OF SANITATION     External               1
3585  720486  DEPT OF ENVIRONMENT PROTECTION     Internal               1
3735  627043         BRONX DISTRICT ATTORNEY     Internal              20
4012  747238        DEPARTMENT OF CORRECTION     External               1
4180  719655  DEPT OF ENVIRONMENT PROTECTION     Internal               1
4277  734685         NYC POLICE PENSION FUND     Internal               1
4400  709263        DEPARTMENT OF CORRECTION     Internal               1
4666  710396         BRONX DISTRICT ATTORNEY     Internal               1
4717  747198        DEPARTMENT OF CORRECTION     External               1
4943  739046         NYC POLICE PENSION FUND     Internal               1
4985  719524  DEPT OF ENVIRONMENT PROTECTION     Internal               1

                                         Business Title  \
274                                  BOB-Fiscal Officer
1477                         BOB- Assistant Team Leader
1501                  Associate Water Use Inspector III
1775                Director of Database Administration
2317                             BOB- Manager of Design
3002                                    Agency Attorney
3147                    Customer Service Representative
3260                Environmental Engineering Associate
3585                   Associate Water Use Inspector II
3735  Assistant District Attorney Child Abuse/Sex Cr...
4012                                Program Coordinator
4180                Deputy Director, Technical Services
4277                                        PMO Analyst
4400                     Application Support Specialist
4666                       Director of Crime Prevention
4717                         Tablet Program Coordinator
4943                                        Orthopedist
4985                Deputy Director, Technical Services

                 Civil Service Title Title Classification Title Code No Level  \
274                        ECONOMIST        Competitive-1         40910    02
1477        ASSISTANT CIVIL ENGINEER        Competitive-1         20210    00
1501   ASSOCIATE WATER USE INSPECTOR        Competitive-1         34620    03
1775        COMPUTER SYSTEMS MANAGER        Competitive-1         10050    M3
2317  ADMINISTRATIVE PROJECT MANAGER        Competitive-1         83008    M3
3002                 AGENCY ATTORNEY    Non-Competitive-5         30087    02
3147              CLERICAL ASSOCIATE        Competitive-1         10251    04
3260  ENVIRONMENTAL ENGINEERING INTE        Competitive-1         20616    00
3585   ASSOCIATE WATER USE INSPECTOR        Competitive-1         34620    02
3735  ASSISTANT DISTRICT ATTORNEY (S             Exempt-4         30114    00
4012           COMMUNITY COORDINATOR    Non-Competitive-5         56058    00
4180    ADMINISTRATIVE STAFF ANALYST        Competitive-1         1002E    00
4277     COMPUTER ASSOC (OPERATIONS)        Competitive-1         13621    01
4400  COMPUTER SPECIALIST (SOFTWARE)        Competitive-1         13632    02
4666           COMMUNITY COORDINATOR    Non-Competitive-5         56058    00
4717           COMMUNITY COORDINATOR    Non-Competitive-5         56058    00
4943                       PHYSICIAN    Non-Competitive-5         53010    00
4985  ADM MANAGER-NON-MGRL FRM M1/M2        Competitive-1         1002C    03

                                           Job Category  ...  \
274                  Finance, Accounting, & Procurement  ...
1477              Engineering, Architecture, & Planning  ...
1501          Public Safety, Inspections, & Enforcement  ...
1775                      Technology, Data & Innovation  ...
2317              Engineering, Architecture, & Planning  ...
3002                                      Legal Affairs  ...
3147         Communications & Intergovernmental Affairs  ...
3260              Engineering, Architecture, & Planning  ...
3585          Public Safety, Inspections, & Enforcement  ...
3735  Constituent Services & Community Programs Lega...  ...
4012          Constituent Services & Community Programs  ...
4180   Finance, Accounting, & Procurement Legal Affairs  ...
4277  Technology, Data & Innovation Policy, Research...  ...
4400                      Technology, Data & Innovation  ...
4666                        Policy, Research & Analysis  ...
4717          Constituent Services & Community Programs  ...
4943                                             Health  ...
4985   Finance, Accounting, & Procurement Legal Affairs  ...

                                 Additional Information  \
274   The City of New York is an inclusive equal opp...
1477  The City of New York is an inclusive equal opp...
1501  Physical/Environmental Factors:  Climbing ladd...
1775  NOTE: This is a full-time on-site position. Th...
2317  The City of New York is an inclusive equal opp...
3002  NOTE: This is a full-time on-site position. Th...
3147  Appointments are subject to OMB approval.  For...
3260                                                NaN
3585  Appointments are subject to OMB approval  For ...
3735  **LOAN FORGIVENESS: The federal government pro...
4012  The City of New York offers a comprehensive be...
4180                                                NaN
4277  NOTE: This is a full-time on-site position. Th...
4400  The City of New York offers a comprehensive be...
4666                                                NaN
4717  The City of New York offers a comprehensive be...
4943                                                NaN
4985  For additional information about DEP visit us ...

                                               To Apply  \
274   For City employees only, go to Employee Self S...
1477  Resumes may be submitted electronically using ...
1501       To Apply To apply click the Apply Button Now
1775                                                NaN
2317  Resumes may be submitted electronically using ...
3002  Go to https://cityjobs.nyc.gov and search for ...
3147                To apply click the Apply Button now
3260                                                NaN
3585       To Apply To apply click the Apply Button Now
3735  We appreciate your interest in a position with...
4012  For City employees: Go to Employee Self-Servic...
4180          To Apply To apply click the Apply Now Now
4277  Go to https://cityjobs.nyc.gov and search for ...
4400  For City employees: Go to Employee Self-Servic...
4666  For City employees: Go to Employee Self-Servic...
4717  For City employees: Go to Employee Self-Servic...
4943  Send a CV and cover letter in a PDF format to ...
4985      To Apply  To apply click the Apply Button Now

                Hours/Shift                         Work Location 1  \
274                35 Hours                       55 Water St Ny Ny
1477               35 Hours        30-30 THOMSON AVE, QUEENS, 11001
1501      35 hours per week         96-05 Horace Harding Expressway
1775    8:00 AM Ã¢Â€Â“ 4:00 PM        233 Broadway, New York, NY 10279
2317               35 Hours                       55 Water St Ny Ny
3002    9:00 AM Ã¢Â€Â“ 5:00 PM        233 Broadway, New York, NY 10279
3147      35 hours per week           59-17 Junction Blvd Corona Ny
3260                    NaN                                     NaN
3585      35 hours per week  Various locations  Meter Test Facility
3735                    NaN                                     NaN
4012                    NaN                                     NaN
4180      35 hours per week       Work Location:  Various Locations
4277    9:00 AM Ã¢Â€Â“ 5:00 PM        233 Broadway, New York, NY 10279
4400                    NaN                                     NaN
4666                    NaN                                     NaN
4717                    NaN                                     NaN
4943  Minimum Hours: 4/Week         1 Lefrak City Plaza, Corona, NY
4985      35 hours per week                       Various locations

     Recruitment Contact                              Residency Requirement  \
274                  NaN  New York City residency is generally required ...
1477                 NaN  New York City Residency is not required for th...
1501                 NaN  New York City residency is generally required ...
1775                 NaN  New York City Residency is not required for th...
2317                 NaN  New York City Residency is not required for th...
3002                 NaN  New York City Residency is not required for th...
3147                 NaN  New York City residency is generally required ...
3260                 NaN  New York City Residency is not required for th...
3585                 NaN  New York City residency is generally required ...
3735                 NaN  US Citizenship and New York State Residency ar...
4012                 NaN  New York City residency is generally required ...
4180                 NaN  New York City residency is generally required ...
4277                 NaN  New York City Residency is not required for th...
4400                 NaN  New York City Residency is not required for th...
4666                 NaN  New York City residency is generally required ...
4717                 NaN  New York City residency is generally required ...
4943                 NaN  New York City Residency is not required for th...
4985                 NaN  New York City residency is generally required ...

     Posting Date Post Until Posting Updated Process Date
274    2024-03-02        NaT      2024-04-01   2025-10-14
1477   2024-09-12        NaT      2024-10-02   2025-10-14
1501   2025-07-16        NaT      2025-08-08   2025-10-14
1775   2025-06-20        NaT      2025-07-18   2025-10-14
2317   2024-11-15        NaT      2024-11-19   2025-10-14
3002   2025-09-16        NaT      2025-09-17   2025-10-14
3147   2025-04-22        NaT      2025-04-29   2025-10-14
3260   2025-08-04        NaT      2025-08-18   2025-10-14
3585   2025-07-21        NaT      2025-08-11   2025-10-14
3735   2024-02-14 2026-11-09      2024-02-14   2025-10-14
4012   2025-09-30 2025-10-30      2025-10-01   2025-10-14
4180   2025-07-16        NaT      2025-07-16   2025-10-14
4277   2025-09-10        NaT      2025-09-12   2025-10-14
4400   2025-09-03 2026-01-01      2025-09-03   2025-10-14
4666   2025-04-09        NaT      2025-07-18   2025-10-14
4717   2025-09-30 2025-10-30      2025-10-02   2025-10-14
4943   2025-09-19        NaT      2025-09-19   2025-10-14
4985   2025-07-16        NaT      2025-08-18   2025-10-14

[18 rows x 30 columns]

In [13]:
df.drop_duplicates(inplace=True) #removing duplicate records
df.duplicated().sum()

np.int64(0)

In [14]:
df['Posting Year'] = df['Posting Date'].dt.year #extracting month and year
df['Posting Month'] = df['Posting Date'].dt.month

In [17]:
df['Posting Date'] = pd.to_datetime(df['Posting Date'],errors='coerce') #datetime conversion
df['Post Until'] = pd.to_datetime(df['Post Until'],errors='coerce')
df['Post Duration'] = (df['Post Until'] - df['Posting Date']).dt.days #calculating days difference between posting date and post end date

In [22]:
average_post_duration = (df.groupby (['Business Title','Agency']) ['Post Duration']
                         .mean().reset_index().rename(columns={'Post Duration':'Average Post Duration'}))
df = df.merge(average_post_duration,on=['Business Title','Agency'],how='left')

In [23]:
df.loc[df['Post Until'].isna(),'Post Until'] = df['Posting Date'] + pd.to_timedelta(df['Average Post Duration'],unit='d')

In [24]:
df.isnull().sum() #Counting missing values

Job ID                              0
Agency                              0
Posting Type                        0
# Of Positions                      0
Business Title                      0
Civil Service Title                 0
Title Classification                0
Title Code No                       0
Level                               0
Job Category                        0
Full-Time/Part-Time indicator       0
Career Level                        0
Salary Range From                   0
Salary Range To                     0
Salary Frequency                    0
Work Location                       0
Division/Work Unit                  0
Job Description                     0
Minimum Qual Requirements          60
Preferred Skills                 2478
Additional Information           3518
To Apply                         2929
Hours/Shift                      4336
Work Location 1                  4123
Recruitment Contact              5293
Residency Requirement               2
Posting Date                        0
Post Until                       3147
Posting Updated                     0
Process Date                        0
Posting Year                        0
Posting Month                       0
Post Duration                    3241
Annual Average Salary               0
Average Post Duration_x          3147
Average Post Duration_y          3147
Average Post Duration            3147
dtype: int64

In [25]:
df.head()

,Job ID,Agency,Posting Type,# Of Positions,Business Title,Civil Service Title,Title Classification,Title Code No,Level,Job Category,...,Post Until,Posting Updated,Process Date,Posting Year,Posting Month,Post Duration,Annual Average Salary,Average Post Duration_x,Average Post Duration_y,Average Post Duration
0,693126,DEPT OF ENVIRONMENT PROTECTION,Internal,1,Admin. Engineer M-II - Deputy Chief of Water &...,ADMINISTRATIVE ENGINEER,Competitive-1,10015,M2,"Engineering, Architecture, & Planning",...,NaT,2024-12-23,2025-10-14,2024,12,NaN,107869.5,NaN,NaN,NaN
1,711591,DEPT OF ENVIRONMENT PROTECTION,External,1,ACCOUNTABLE MANAGER,ADMINISTRATIVE PROJECT MANAGER,Competitive-1,8300B,00,"Engineering, Architecture, & Planning Public S...",...,NaT,2025-04-25,2025-10-14,2025,4,NaN,113928.0,NaN,NaN,NaN
2,723667,DEPT OF ENVIRONMENT PROTECTION,Internal,2,ACCOUNTABLE MANAGER,ADM ENGINEER (NON MGRL),Competitive-1,1001A,00,"Engineering, Architecture, & Planning Public S...",...,NaT,2025-08-28,2025-10-14,2025,8,NaN,116106.5,NaN,NaN,NaN
3,690738,DEPT OF ENVIRONMENT PROTECTION,Internal,1,Deputy Section Chief,ADMINISTRATIVE STAFF ANALYST (,Competitive-1,1002A,00,"Finance, Accounting, & Procurement",...,NaT,2025-01-07,2025-10-14,2024,11,NaN,111426.5,NaN,NaN,NaN
4,748603,DEPARTMENT OF TRANSPORTATION,Internal,1,BOROUGH PLANNER,TRANSPORTATION SPECIALIST,Competitive-1,22316,01,"Engineering, Architecture, & Planning",...,2025-10-21,2025-10-08,2025-10-14,2025,10,13.0,82929.0,13.0,13.0,13.0

In [16]:
def annual_avg_salary(row):
  average_salary = (row['Salary Range From'] + row ['Salary Range To'])/2

  if row['Salary Frequency'] == 'Hourly':
    annual_average_salary = average_salary * 2080  #40 hrs * 52 weeks
  elif row['Salary Frequency'] == 'Daily':
    annual_average_salary = average_salary * 260   #365 days in year / weekends = 52 weeks * 2 =104 days / so 365-104 approx 261 days pr year
  else:
    annual_average_salary = average_salary

  if row['Full-Time/Part-Time indicator'] == 'P':
    annual_average_salary = average_salary * 0.5 #part_time salary should be half of full time

  return annual_average_salary

df['Annual Average Salary'] = df.apply(annual_avg_salary,axis=1) #row-wise application